/* Layout*/
html {
	height: 100%;
}

body {
	margin: 0 auto;
	max-width: 800px;
	height: 100%;
}

.main-layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	gap: 1.5rem;
}

.container {
	display: flex;
	/*flex-wrap: wrap;*/
}

.settings {
	display: flex;
	flex-direction: column;
	flex: 1 1 0;
	place-items: center;
	justify-content: center;
}

.settings-container {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0.75fr 0.75fr 0.75fr 0.25fr 0.4fr;
	gap: 0 1rem;
	place-items: center;
	justify-content: center;
}

#color {
	margin-bottom: 8px;
	grid-column: span 2 / span 2;
}

#grid-value {
	grid-column: span 2 / span 2;
}

#grid-size {
	grid-column: span 2 / span 2;
}

.canvas-container {
	flex: 2 1 0;
	display: flex;
	place-items: center;
	justify-content: center;
	flex-direction: column;
}

.canvas {
	width: 520px;
	height: 520px;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
	cursor: crosshair;
}

.footer {
	display: flex;
	place-items: center;
	justify-content: center;
	padding-top: 1rem;
}

@media (max-width: 720px) {
	.container {
		flex-direction: column-reverse;
	}
	body {
		height: auto;
	}
	.settings {
			place-items: center;
			justify-content: center;
		}

	.settings > label {
		display: contents;
	}

	.canvas {
		width: 500px;
		height: 500px;
	}
}

@media (max-width: 520px) {
	.canvas {
		width: 400px;
		height: 400px;
	}
}

@media (max-width: 320px) {
	.canvas {
		width: 305px;
		height: 305px;
	}

	.settings {
		display: flex;
		flex-direction: column;
		flex: 1 1 0;
		gap: 1rem;
		place-items: center;
		justify-content: center;
	}
}

/* Styling */

* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Manrope", sans-serif;
}

:root {
	--ff: "Manrope", sans-serif;
	--h1: 700 2rem var(--ff);
	--p: 400 1rem/1.6em var(--ff);
	--transition: 0.1s ease-in-out;
}

:root {
	--bg-dark: oklch(0.92 0 287);
	--bg: oklch(0.96 0 287);
	--bg-light: oklch(1 0 287);
	--text: oklch(0.15 0 287);
	--text-muted: oklch(0.4 0 287);
	--highlight: oklch(1 0 287);
	--border: oklch(0.6 0 287);
	--border-muted: oklch(0.7 0 287);
	--primary: oklch(0.4 0.1 287);
	--secondary: oklch(0.4 0.1 107);
	--danger: oklch(0.5 0.05 30);
	--warning: oklch(0.5 0.05 100);
	--success: oklch(0.5 0.05 160);
	--info: oklch(0.5 0.05 260);
	--shadow-s: inset 0 1px 2px #ffffff30,
		/* top highlight */
		0 1px 2px #00000030,
		/* dark shadow */
		0 2px 4px #00000015;
	/* soft shadow */
	--shadow-m: inset 0 1px 2px #ffffff50,
		/* top highlight */
		0 2px 4px #00000030,
		/* dark shadow */
		0 4px 8px #00000015;
	/* soft shadow */
	--shadow-l: inset 0 1px 2px #ffffff70,
		/* top highlight */
		0 4px 6px #00000030,
		/* dark shadow */
		0 6px 10px #00000015;
	/* soft shadow */
}

body {
	background: var(--bg-dark);
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	-webkit-user-drag: none;
  	-moz-user-drag: none;
}

h1 {
	font: var(--h1);
	color: var(--text);
	padding-bottom: 0.5rem;
}

p {
	font: var(--p);
	color: var(--text);
}

.settings {
	border-radius: 1rem;
}

#color {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 5.25rem;
	width: 5.25rem;
	cursor: pointer;
	background-color: var(--bg-light);
	border: none;
	padding: 0;
	border-radius: 0.5rem;
	box-shadow: var(--shadow-s);
	transition: var(--transition);
	outline: none;
}

#color::-webkit-color-swatch-wrapper {
	padding: 0;
}

#color::-webkit-color-swatch {
	border: none;
	border-radius: inherit;
}

#color::-moz-color-swatch {
	border: none;
	border-radius: inherit;
	box-shadow: none;
}

button {
	display: flex;
	cursor: pointer;
	border: none;
	background-color: var(--bg-light);
	font: var(--p);
	color: var(--text);
	padding: 0.75rem;
	width: 5rem;
	min-height: 2.5rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow-s);
	transition: var(--transition);
	outline: none;
	place-items: center;
	justify-content: center;
}

button:hover,
#color:hover {
	box-shadow: var(--shadow-l);
	transform: scale(1.05);
}

button:active,
#color:active {
	transform: scale(0.95);
	box-shadow: var(--shadow-l);
	--bg-light: oklch(0.2 0 268);
	--text: oklch(0.96 0 268);
}

#color-mode.active,
#eraser-mode.active,
#rainbow-mode.active,
#shading-mode.active,
#border-toggle.active {
	transition: var(--transition);
	--bg-light: oklch(0.2 0 268);
	--text: oklch(0.96 0 268);
	box-shadow: var(--shadow-l);
	transform: scale(1.05);
}

#color-mode.active:active,
#eraser-mode.active:active,
#rainbow-mode.active:active,
#shading-mode.active:active,
#border-toggle.active:active {
	transform: scale(0.95);
}

.trash-icon {
	color: var(--text);
}

/* Grid Size Slider Styling*/

#grid-size {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	appearance: none;
	border-radius: 0.5rem;
	cursor: pointer;
	min-width: 11rem;
	box-shadow: var(--shadow-m);
	height: 0.5rem;
	margin-top: -2px;
}

#grid-size::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	width: 1.25rem;
	height: 1.25rem;
	background: var(--text);
	border-radius: 0.5rem;
	box-shadow: var(--shadow-m);
	transition: var(--transition);
	border: none;
}

#grid-size::-moz-range-thumb {
	appearance: none;
	-moz-appearance: none;
	width: 1.25rem;
	height: 1.25rem;
	background: var(--text);
	border-radius: 0.5rem;
	box-shadow: var(--shadow-m);
	transition: var(--transition);
	outline: none;
	border: none;
}

#grid-size::-webkit-slider-thumb:active {
	transform: scale(0.85);
	box-shadow: var(--shadow-l);
}

#grid-size::-moz-range-thumb:hover {
	transform: scale(1.05);
	box-shadow: var(--shadow-l);
}

#grid-size::-webkit-slider-thumb:hover {
	transform: scale(1.05);
	box-shadow: var(--shadow-l);
}

#grid-size::-moz-range-thumb:active {
	transform: scale(0.85);
}

#grid-size::-webkit-slider-thumb:active {
	transform: scale(0.85);
}

/* Grid Styling*/

.canvas {
	box-shadow: var(--shadow-m);
	border: 1px solid var(--border);
}

.cell {
	background-color: var(--bg-light);
	border: 1px none var(--border-muted);
}

.github-mark {
	max-width: 2rem;
    transition: var(--transition);
    margin-left: 0.5rem;
}

.github-mark:hover {
    transform: scale(1.1);
}